%h2 Choose datasets

%wizard-progress-bar{'active-step'=>'Datasets'}

.buttons
  %a{'href' => '#/select-type'}
    .btn.btn-primary.pull-right Select visualization type


.content
  / %p Browse datasets:
  .list-group
    .list-group-item{"ng-repeat"=>"dataset in datatables | orderBy:'label'"}
      %h4.title {{dataset.label}}
      .btn.btn-success{'ng-click' => 'select(dataset)', 'ng-class'=>'dataset.btnState'} {{ !dataset.selected && 'Select' || 'Remove' }}
      %p Categories:
      / .source Source {{dataset.dataSource.url}}

.sidebar-right
  .selected-data
    %h4 Selected datasets
    %ul{"ng-repeat"=>"dataset in datatables | filter: {selected: true}"}
      %li
        {{dataset.label}}
