%h2 Create visualisation

.explorer{'ng-controller'=>'ExplorerController'}
  Renderers:
  %ul{'ng-repeat' => 'renderer in renderers'}
    %li
      %h3 Name: {{ renderer.rendererName }}
      %img{'src' => '{{ renderer.thumbnail }}'}

  .vb-view

