%h2 Choose visualisation

%wizard-progress-bar{'active-step'=>'Visualization type'}

.buttons
  %a{'href' => '#/select-columns'}
    .btn.btn-primary.pull-right Choose columns
  %a{'href' => '#/'}
    .btn.btn-primary Back

.explorer
  %ul
    %li.renderer{'ng-repeat' => 'renderer in renderers'}
      %h4 {{ renderer.rendererName }}
      %img{'src' => '{{ renderer.thumbnail }}', 'ng-click' => 'selectRenderer(renderer)', 'ng-class'=>'{selected: renderer.selected}'}

  .vb-view

