%h2 Choose visualisation

%wizard-progress-bar{'active-step'=>'select-type'}

.buttons
  %a{'href' => '#/select-columns'}
    .btn.btn-primary.pull-right{'ng-class'=> '{disabled: state.renderer == undefined}'} Choose columns
  %a{'href' => '#/'}
    .btn.btn-default Back

%h4 Select the type of visualization you wish to create.
%hr

.row
  .col-sm-6.col-md-3{'ng-repeat' => 'renderer in renderers'}
    .button.btn-default.btn-block{"href"=>"", 'ng-click' => 'selectRenderer(renderer)', 'ng-class'=>'{selected: renderer.selected}'}
      %img{'ng-src' => '{{ $parent.imagePath }}{{ renderer.thumbnail }}'}
    %h4 {{ renderer.label }}
    %p {{ renderer.description }}


