%h2 Select columns

%wizard-progress-bar{'active-step'=>'Columns'}

%a{'href' => '#/visualization'}
  .btn.btn-primary.pull-right Plot visualization

%a{'href' => '#/select-type'}
  .btn.btn-primary Back


%div{'ng-if' => 'structureAvailable'}
  / TODO: datasets array access
  %div{"ng-repeat"=>"field in $parent.selectedRenderer.datasets[0].fields"}
    %b {{ field.vizField }}
    .list-group
    %a.list-group-item{"ng-repeat"=>"col in $parent.selectedDataset.structure.component | orderBy:'fieldRef'", 'ng-click'=>'selectColForField(field, col)', 'ng-class'=>'{active: col.selected[field.vizField]}'}
      {{ col.fieldRef }}

  / %p
  /   %b X axis
  / .list-group
  /   %a.list-group-item{"ng-repeat"=>"col in $parent.selectedDataset['structure']['qb:component']", 'ng-click'=>'selectX(col)', 'ng-class'=>'{active: col.selectedX}'}
  /     {{ col['dtbl:fieldRef'] }}


  / %p
  /   %b Y axis
  / .list-group
  /   %a.list-group-item{"ng-repeat"=>"col in $parent.selectedDataset['structure']['qb:component']", 'ng-click'=>'selectY(col)', 'ng-class'=>'{active: col.selectedY}'}
  /     {{ col['dtbl:fieldRef'] }}


