%h2 Edit visualisation

%wizard-progress-bar{'active-step'=>'Visualize!'}

%a{'href' => '#/select-columns'}
  .btn.btn-primary Back
/ .btn.btn-primary{'ng-click' => 'drawMap()'} Draw map

.visualization{'visualization'=>true, 'id'=>'visualization'}

