%wizard-progress-bar{'active-step'=>'visualization'}

.buttons
  %input.btn.btn-primary.pull-right{'type'=>'submit', 'id'=>'add-submit', 'name'=>"op", 'value'=>"Add metadata", 'ng-click'=>'handleFormSubmit()', 'ng-hide'=>'state.edit'}
  %input.btn.btn-primary.pull-right{'type'=>'submit', 'id'=>'edit-submit', 'name'=>"op", 'value'=>"Save changes", 'ng-click'=>'handleFormSubmit()', 'ng-show'=>'state.edit'}
  %a{'href' => '#/select-columns'}
    .btn.btn-default Back

/ %h4 Edit the physical attributes of your visualization.
%h4 Review your visualization.
%hr

%div.text-center{"ng-hide"=>"state.vizRendered"}
  .progress
    .progress-bar.progress-bar-info{"role"=>"progress-bar", "style"=>"{{progressWidth}}"}
  %p.text-center Building visualization...
  %h3.text-center{"ng-show"=>"state.status == 'error'"} Error in creating visualization!


.visualization{'visualization'=>true, 'id'=>'visualization'}

