%h2 Edit visualisation

%wizard-progress-bar{'active-step'=>'visualization'}

.buttons
  %input.btn.btn-primary.pull-right{'type'=>'submit', 'id'=>'edit-submit', 'name'=>"op", 'value'=>"Add metadata"}
  %a{'href' => '#/select-columns'}
    .btn.btn-default Back

/ %h4 Edit the physical attributes of your visualization.
%h4 Review your visualization.
%hr

%div.text-center{"ng-hide"=>"state.vizRendered"}
  %i.fa.fa-spinner.fa-spin.fa-5x
  %p.text-center Building visualization...

.visualization{'visualization'=>true, 'id'=>'visualization'}

